.center {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.post {
  margin: 15px 0 15px 0;
  width: 100%;

  cursor: pointer;
}

.error-message {
  margin-top: 50px;
  font-size: 50px;
}
